[2022-02-02 18:01] theryankelly opened #1 "Create memo on survey results and strategy"
Ella drafted and awaiting Josh's review

[2022-02-02 18:04] theryankelly opened #2 "Survey Data: Reliability Questions Viz"
Draft, review, and embed a Tableau visualization that highlights key reliability questions from the survey data.

37% of survey respondents have had to leave their home to use internet at another location because internet at their home is unreliable

32% of survey respondents indicate that they always or frequently have issues with dropped or choppy video calls.

This correlates closely with the ~

[2022-02-02 18:06] theryankelly opened #3 "Survey Data: Affordability Questions Viz"
Draft, review, and embed a Tableau visualization that highlights key affordability questions from the survey data.

70% of survey respondents have had to change or cancel their internet subscription because it was too expensive

Overall, only 50% of respondents agreed with the statement “My internet is affordable”

Subscribers to RCN were slightly more likely to indicate that their internet was af

[2022-02-02 18:07] theryankelly opened #4 "Survey Data: Connection Questions Viz"
Draft, review, and embed a Tableau visualization that highlights key connection questions from the survey data.

Ensuring that residents are able to acquire internet services at an affordable price that meets their needs is a major component of digital access. The following key findings summarize respondents experience and perspective on internet subscriptions, internet affordability, and internet

[2022-02-02 18:12] theryankelly opened #5 "Communities at a Glance Viz/Section"

[2022-02-02 18:24] theryankelly opened #6 "FCC Form477 Maps and Table"

[2022-02-02 18:34] theryankelly opened #7 "Community Needs Assessment Narrative"
Narrative paragraphs that accompany #2, #3, #4

[2022-02-02 18:35] theryankelly opened #8 "Trace Residential fiber lines from RCN"
We will need to trace or transpose lines from pdf to GIS for municipalities we have data currently I believe that is only data for Everett.

[2022-02-02 18:35] theryankelly opened #9 "Trace residential fiber lines from Comcast"
Building on work started by Ella Brady in Everett.

We will need to trace or transpose lines from pdf to GIS for:
- [x] Everett
- [x] Chelsea
- [x] Revere

[2022-02-02 18:35] theryankelly opened #10 "Trace Residential fiber lines from Comcast in Chelsea"

[2022-02-02 18:35] theryankelly opened #11 "Create Fiber Investment Proxy by Block/Track/Muni"

[2022-02-02 18:35] theryankelly opened #12 "Infrastructure Section Narrative"
Narrative to accompany #8, #9, #10, #11

[2022-02-02 18:37] theryankelly opened #13 "Subsidy Section Narrative"
Narrative drafted from bullet points related to subsidies in Service & Affordability section of the existing conditions

[2022-02-02 18:38] theryankelly opened #14 "Digital Literacy Section Narrative"
Additional narrative is needed to round out the literacy section of the Acess part of the existing conditions section.

[2022-02-02 18:40] theryankelly opened #15 "History & Background Slideshow Introductions"
Narrative to accompany slideshow in the history and background section.

[2022-02-02 18:41] theryankelly opened #16 "Welcome to Internet Slideshow"
https://slides.com/mapc/internet-slides/edit

[2022-02-02 18:41] theryankelly opened #17 "History and Background Slideshow"

[2022-02-02 18:44] theryankelly opened #18 "Actions to Take Narrative"
Based on final presentation create Actions to Take Section

[2022-02-02 18:44] theryankelly opened #19 "Finalize Report Styling"
We need to finalize report fonts and colors. The final set should be indicated in XD as style group. We should also comment to this issue with final decision.

- Should note that embed Slides slideshow has a limited # of fonts. Current slide fonts may contrast with choice in site/XD
- Current XD colors in draft sections are not final.
- Should work with MAPC fonts and colors, but can be a unique b

[2022-02-02 18:45] theryankelly opened #20 "Residential fiber lines from Comcast in Everett"

[2022-02-02 18:47] theryankelly opened #21 "Existing Conditions: Service & Affordability Section"

[2022-02-02 18:50] theryankelly opened #22 "Existing Conditions: Access Section"
- [ ] Connected to the Internet
- [ ] Device Ownership
- [ ] Digital Literacy #14

[2022-02-02 18:56] theryankelly opened #23 "Standard Tableau Embed Element & Styling"
Will have multiple Tableau embed, should find a consent embed strategy and style.

[2022-02-02 18:56] theryankelly opened #24 "Map Embed Element & Styling"
-FCC Map #

[2022-02-02 19:00] theryankelly opened #25 "Update Digital Access Slides to be consistent and differentiating splash pages"
This is for consistency when sharing out prior presentations. Consistent labeling and images could help identify slideshows.

[2022-02-02 19:02] theryankelly opened #26 "Tab Section Element"

[2022-02-02 19:02] theryankelly opened #27 "Quote Call Out Element"

[2022-02-02 19:02] theryankelly opened #28 "MAPC React Design Pattern Footer"

[2022-02-02 19:02] theryankelly opened #29 "Full Width Text Element"

[2022-02-02 19:03] theryankelly opened #30 "Text and Viz side by side element"

[2022-02-02 19:03] theryankelly opened #31 "Menu side scroll element"

[2022-02-02 19:03] theryankelly opened #32 "Intro / Executive Summary Page"

[2022-02-02 19:05] theryankelly opened #33 "Planning Process Section"

[2022-02-02 19:51] theryankelly opened #34 "Percent households without internet viz"

[2022-02-02 19:51] theryankelly opened #35 "Percent households broadband cellular plan only"

[2022-02-02 19:53] theryankelly opened #36 "Percent of households without internet by income"

[2022-02-02 20:18] theryankelly commented on #16
Have a source for top Fiber speed https://www.nict.go.jp/en/press/2021/07/12-1.html
- [ ] Need one for cable top speeds, something that confirms or refutes this blog https://www.technipages.com/fiber-vs-copper-internet#:~:text=Speeds,of%20up%20to%2010%20Gbps.

10gps vs 125,000gps would be the comparison with these two current sources.
- [ ] Need to make proportional (ish) circle for the slides

[2022-02-03 18:50] theryankelly commented on #2
New draft Tableau here https://public.tableau.com/authoring/DigitalAccessSurveyDRAFT/Story1#1

[2022-02-03 18:51] theryankelly commented on #4
New draft Tableau here https://public.tableau.com/authoring/DigitalAccessSurveyDRAFT/Story1#1

[2022-02-03 18:51] theryankelly commented on #3
New draft Tableau here https://public.tableau.com/authoring/DigitalAccessSurveyDRAFT/Story1#1

[2022-02-07 22:51] theryankelly commented on #8
Notes from 2/7 Check-In. Everett RCN data in SharePoint, also traced lines (@EllaBrady work) that exist in K.

- [ ] Josh E following up with Revere to obtain files
- [ ] Will then need to trace with same method used for Comcast in Chelsea and Revere.

[2022-02-07 22:52] theryankelly commented on #11
Notes from 2/7 Check-In:

Will clip traced lines for RCN and Comcast to tract level to match there on Census Indicators
Will also clip to block group to produce a map

[2022-02-07 22:58] theryankelly opened #37 "Tract aggregations of RCN and Comcast Fiber to tract level to match on Census Indicators"

[2022-02-07 22:58] theryankelly opened #38 "Block aggregations of RCN and Comcast Fiber to tract level to map"

[2022-02-08 16:02] theryankelly commented on #16
I have edited slides from prior presentations to have word bubbles for things we previously said when presenting. I have also made all elements appear when hitting next rather than hidden clicks on images.
![image](https://user-images.githubusercontent.com/2421382/153026077-2e6cdd42-4078-4a13-a08b-54a2d78e56e5.png)
![image](https://user-images.githubusercontent.com/2421382/153026157-81e2cb12-df64-

[2022-02-08 16:18] theryankelly commented on #16
Threw in Illustrator and scaled .008% (10/125,000). Have done best can in slides to replicate.
![image](https://user-images.githubusercontent.com/2421382/153029056-321fa030-9c54-4076-9351-e402645b91d0.png)
![image](https://user-images.githubusercontent.com/2421382/153029281-dbb80f49-9ecb-4d9f-8ecd-0db227a67399.png)

[2022-02-08 16:19] theryankelly commented on #16
@thetonyschloss can you to source cable/ethernet/copper max gbps?

[2022-02-09 22:34] theryankelly opened #39 "EEB/ACP Data Viz"
Need to pull data available on Emergency Broadband Benefit / Affordable Connectivity Program enrollment for zip codes in our there municipalities.

Compile and confirm the list of zipcodes in Everett, Chelsea, Revere.
Pull all historical data available
Draft historical adoption over time
Draft map (tableau match on zip geo field)
Draft table of available data
Draft chart of enrollment as percentag

[2022-02-09 23:01] theryankelly commented on #2
@EllaBrady @jeichen101 I have combined these **Connectivity** visuals from multiple GitHub issues into this one issue and created separate ones for Device and Literacy.

[2022-02-09 23:09] theryankelly commented on #2
While there are currently 5 visuals created in Tableau for this section (see screenshots below). There are a number of points in the outline that are not represented in visuals. Such as: _displaying the data behind the reason why no internet_ or _breakdown of Wi-Fi hotspot_. I think it is fine if we choose to just provide this data in text and not visual, but @jeichen101 can you review and confirm

[2022-02-09 23:18] theryankelly opened #40 "Journey through Internet: Timeline Visualization"
The goal is to create a new visual that communicate a timeline that showcases the waves of infrastructure investment over time. Inspiration is CA cable timeline, however, which only speaks to cable uses over time not infrastructure changes from phone to cable to fiber.

The secondary goal if possible it to communicate ownership and shift of providers over time. From Phone providers like ATT to Cab

[2022-02-09 23:32] theryankelly commented on #16
@ellynmorgan tagging you here to review styling and formatting of Journey through Internet Slides. In addition to the visual for the timeline, please take a look through slides and adjust styling as you see fit. Welcome to share hear or Slack ideas you may have on formatting and flow as well. I think this styling review may be in concert with the overall styling review #19

- [ ] first pass review

[2022-02-09 23:35] theryankelly commented on #15
May scrape if able to add timeline #40 to #16

[2022-02-09 23:44] theryankelly commented on #6
Notes from 2/9/2022 meeting:

-Goal of fiber is only map to highlight in comparison to the region, where here Verizon and Comcast don't list any home fiber-connected blocks.
- Move Cherryroad to commercial other
- 3rd map Fiber, Fixed wireless map should also include Cable
- Goal of Fiber, fixed wireless and cable map is to highlight opportunity for completion from other companies with different t

[2022-02-10 14:53] EllaBrady commented on #2
@jeichen101 @theryankelly I can add these visuals do draft stories in Tableau and they can be added to the appendix if they do not work in the report? Now that I have opened the issue and can see it outlined out by visual, I understand where the gaps are.

[2022-02-10 16:58] theryankelly opened #41 "Create Glossary of Terms"
For addition to the history and background section as well as the appendix.

[2022-02-10 18:57] EllaBrady commented on #41
This is not different from the draft in the airable, just a snapshot of relevant terms. I am not sure if the intention is to create a large term index or one specific to the project:

Terms

Access Point: A device that allows wireless devices to communicate with a wired network using Wi-Fi or related standards. Sometimes referred to as AP, Wireless Access Point, or WAP. Access Points contain both

[2022-02-10 20:08] EllaBrady commented on #2
@theryankelly @jeichen101 As of now, all of the visuals mentioned are shown in the Connection story. For the "If no, why not?" ---this is also a matrix question. I cleaned the data and currently have 5 responses excluded that selected multiple answers to this question. In order to provide more accuracy, there may be a better way to go about this.

[2022-02-11 17:19] EllaBrady opened #42 "Would like to learn more about breakdown"

[2022-02-11 17:20] #42 closed

[2022-02-11 18:52] thetonyschloss commented on #13
Adapted bullets to narrative draft

[2022-02-11 19:15] EllaBrady commented on #3
@theryankelly Here is a link to the current workbook with a second workbook for Literacy: https://public.tableau.com/authoring/DigitalAccessSurveyDRAFT_16444246715760/Literacyxtab/Story%202%3A%20Literacy#1
A couple issues remain (1) the "I would like to learn more about" questions, and also you have here listed "Feel confident in their ability to use a laptop/Chromebook by Ethnicity", and I have i

[2022-02-11 21:41] theryankelly commented on #40
I am not familiar with the source, but might be a starting point, would need to avoid explaining logarithmic scale: https://aiimpacts.org/historic-trends-in-telecommunications-performance/

Is a big timeline item: might have materials associated with telco and cable history: https://www.fcc.gov/general/telecommunications-act-1996

Could also be fruitful, but need an upgrade: https://medium.com/@Te

[2022-02-14 15:59] theryankelly commented on #12
@thetonyschloss can you take on the first task above, drafting out what we know today about permits, regulations, and ownership. This would be the location of #15 if we don't put in History and Background.

[2022-02-14 16:02] theryankelly commented on #18
Report draft doc currently has the 11 from the final presentations. @thetonyschloss @jeichen101 add others to the doc as you see fit. Add a comment to doc where you think it should be cross referenced.

[2022-02-14 19:23] theryankelly opened #43 "Finalize list of Community Advisory Members"
Will need to pull from both groups and find a way to display and communicate how this report sums two processes.

[2022-02-14 19:27] theryankelly opened #44 "Project Goals & Vision"
Currently have stand-in language for the Goals and Vision section

Will need

Intro statement
A final list of Goals
- Advise Capital Investment​​
- Inform Policy Decisions​​
- Identify Program Needs
Description / Definition of Goals
Vision
Realted quote

[2022-02-14 20:14] theryankelly opened #45 "Pull Example Quotes and Stories for Device Section"

[2022-02-15 19:29] theryankelly commented on #3
@EllaBrady made some edits to Literacy vizs:

- I think we should include the question as a dynamic title (should be consistent with connection and device as well)
- Added Count to Tooltip for context
- Consistent with colors for Yes/No Agree/ Disagree

https://public.tableau.com/authoring/DigitalAccessSurveyDraft_2/Story2Literacy#1

[2022-02-15 19:33] thetonyschloss commented on #12
I wrote an introductory paragraph on what _I_ know about permits, regulations, etc. Other team members may know specifics better.

[2022-02-15 19:59] theryankelly commented on #3
On the "I would like to learn more about" questions. I think we should create a new workbook with the data fliped/pivoted and represented by a number rather than text/string. Here is a walk-through of why and link to how to flip. For those questions let's restructure as this link describes and upload to new workbook.

 https://www.datarevelations.com/how-to-visualize-check-all-that-apply-questions

[2022-02-16 16:20] theryankelly commented on #41
Internet Service Providers (ISPs) is referenced and will be needed.

[2022-02-16 16:29] theryankelly commented on #41
Open Access Network

[2022-02-16 16:35] theryankelly opened #46 "Who Owns / Manages It/ Utility"

[2022-02-16 17:50] theryankelly commented on #6
I am breaking each viz into it's own issue for further clarification and discussion.

[2022-02-16 17:51] theryankelly opened #47 "The total number of census block each provider covers in our region would be beneficial"

[2022-02-16 17:51] theryankelly opened #48 "Map of blocks with fiber-connected buildings"

[2022-02-16 17:51] theryankelly opened #49 "Map of 100/20 fiber and fix-wireless technology"

[2022-02-16 17:57] theryankelly commented on #49
Draft link: https://mapc.github.io/fcc-map/

[2022-02-16 20:30] jeichen101 commented on #44
@theryankelly thanks for embedding the screen shot of what this section will look like in this task - super helpful!

[2022-02-16 21:16] theryankelly commented on #47
Added a simple block total table to accomplish
![image](https://user-images.githubusercontent.com/2421382/154358536-40047e4f-38f8-4ea5-88f8-30d61c0e68b0.png)

- [ ] Need to confirm block counts

Output:
![image](https://user-images.githubusercontent.com/2421382/154358495-4f9858c4-16f1-435d-8c94-5e07c0fc8184.png)

[2022-02-16 21:52] theryankelly commented on #48
Who is listed in "the other grouping", is Verizon in that group?

[2022-02-16 21:54] theryankelly commented on #48
We may want to treat the current map as an insert of the full region to state something along the lines of "This clearly lags being hind neighboring communities that have multiple residential fiber provider options (namely Verizon who we can see in FCC maps).

[2022-02-16 23:20] theryankelly opened #50 "Speed Section"
"For those that are connected, what are they experiencing?

[2022-02-17 16:54] thetonyschloss commented on #43
Added City Staff

[2022-02-18 02:07] thetonyschloss commented on #43
@jeichen101 Please add other advisory members

[2022-02-18 02:09] thetonyschloss commented on #45
@jeichen101 I had trouble locating appropriate quotes-perhaps you will have better luck

[2022-02-18 03:09] thetonyschloss commented on #14
I added very brief intro to Pew research that seems applicable. Also a short intro to the local survey data. In our final presentations we used the same slide for digital literacy survey question results--I wonder if that was an oversight, otherwise the data was the same for all three communities? @jeichen101, you may be the best person to expand on this data, and section

[2022-02-18 20:25] EllaBrady commented on #3
updated link (without I would like to learn more about): https://public.tableau.com/authoring/DigitalAccessSurveyDraft_3/Story2Literacy#1

[2022-02-18 20:35] EllaBrady commented on #4
Updated link here: https://public.tableau.com/authoring/DigitalAccessSurveyDraft_3/Story3#1

[2022-02-22 17:35] theryankelly commented on #41
OECD Report with helpful term definitions: https://www.oecd.org/officialdocuments/publicdisplaydocumentpdf/?cote=DSTI/ICCP/CISP(2013)8/FINAL&docLanguage=En

[2022-02-22 17:40] theryankelly commented on #40
FCC Broadband plan has a helpful (detailed) timeline. However, it doesn't go back that far https://transition.fcc.gov/national-broadband-plan/national-broadband-plan.pd
![eariler timeline](https://user-images.githubusercontent.com/2421382/155187640-b25014be-dc27-4e96-9cc8-e3f83c255dc0.PNG)

Even more info in this FCC 2020 [report](https://www.fcc.gov/document/fcc-annual-broadband-report-shows-digi

[2022-02-24 18:24] theryankelly commented on #50
Change data split from 25/3 to 100/20? keep the 25/3?

[2022-02-24 18:40] theryankelly commented on #12
I have drafted up some language to describe mapping work #38. Municipal network and project planning is the only subsection with no drafting to date. All will need revision to better flow.

[2022-02-24 18:41] theryankelly commented on #9
Closing issue based on completion of map

[2022-02-24 18:41] #9 closed

[2022-02-24 18:43] theryankelly commented on #11
I am moving this to the backlog as we will focus on just providing the block map of fiber coverage in the report. Will revisit if time.

[2022-02-28 18:37] EllaBrady commented on #34
Link to 2 Census questions viz: https://public.tableau.com/authoring/DigitalEquityCensusQuestions/Sheet1/Story%201%3A%20ACS%202801#2

[2022-02-28 19:00] EllaBrady commented on #36
3 Census Questions viz: https://public.tableau.com/authoring/DigitalEquityCensusQuestions/Sheet1/Story%201%3A%20ACS%202801#2

[2022-02-28 19:00] EllaBrady commented on #35
3 Census Questions Viz: https://public.tableau.com/authoring/DigitalEquityCensusQuestions/Sheet1/Story%201%3A%20ACS%202801#2

[2022-02-28 20:06] theryankelly commented on #35
Link is not currently accessible. @EllaBrady is there another link that can be shared? This is true for me of all three census tableaus you just shared on Github.

[2022-02-28 20:51] EllaBrady commented on #36
Percent households without internet, fixed link: https://public.tableau.com/app/profile/ella.brady/viz/DigitalEquityCensusQuestions/Story1ACS2801_1#1

Still need to make internet by income Xtab

[2022-03-02 15:56] theryankelly commented on #29
I think we need to adjust margins and provide additional padding/white space. Will need to balance this with the other page elements like #27 #26. @trust-kimberly @ellynmorgan thoughts on how and how much white space we include?

Current:
![image](https://user-images.githubusercontent.com/2421382/156397978-7eee853c-d48c-47f7-bba2-66a2ae4638f0.png)

Potential:
![image](https://user-images.githubuse

[2022-03-02 16:02] theryankelly commented on #26
Only have 3 Connection and Access, Service & Affordability, Infrastructure. Digital Literacy is under Connection and Access. But it does raise the question is that a clear enough name?  Connection and Access subsections are Connected to the Internet, Device Ownership, Digital Literacy. Maybe Connection and Access should be Access and Ability?

![image](https://user-images.githubusercontent.com/242

[2022-03-02 16:04] theryankelly commented on #31
@trust-kimberly is sub

[2022-03-02 16:10] ellynmorgan commented on #29
Hi everyone, I very much agree that the margins in "potential" are much better for both visual style and readability. "Potential" is in that 10-15 words per line quota that makes for ideal reading of lots of copy and therefore, is much more friendly and engaging for the reader in a block of text. Though, I do hope we are sticking with sans-serif, other than for the headers/sub-heads (if on style)

[2022-03-02 16:33] trust-kimberly commented on #26
Oh interesting. I made this choice because "Connection & Access" because "Digital Literacy" felt like an outlier in the subsections. "Connection and Access" spoke more to me as issues of materials and finances, the concrete parts covered in the first two subsections, over a lack of literacy. I think if we keep all three subsections in one, we could rename the tab to "Connection and Literacy" or "A

[2022-03-02 16:40] theryankelly commented on #26
I threw a comment with this question in the draft doc as well. Our stool is Connection, Device, Literacy and all are in this tab. Literacy is a bit of an outlier, but so is Device.

[2022-03-02 17:29] ellynmorgan commented on #29
Have you all been using any typefaces in particular pretty consistently for any external meetings so far? If so, I would try to incorporate those..

Other typefaces I would try: Source Sans, Noto Sans, Roboto, Lato

[2022-03-02 19:01] trust-kimberly commented on #31
Just deployed a branch with the updated report menu that includes nested sub-sections/sub-links for review. The links control the tab index as expected but there is a slight "jump" to the menu on re-render when selecting other sections. Will leave for now and debug later if this is a feature we want to keep, which I definitely think is helpful for Existing Conditions, our longest report section.

[2022-03-02 22:21] theryankelly commented on #26
I do think if we keep tabs, it would be nice if they were fixed height. Meaning changing between tabs would not affect the sections below. This would work for the smaller tabs Goals and Definitions. However, the Existing Conditions would look very weird as they are not the same size at the moment.

[2022-03-03 16:03] trust-kimberly opened #59 "Footer Links"
Quick Links and Explore

<img width="1213" alt="Screen Shot 2022-03-02 at 2 58 19 PM" src="https://user-images.githubusercontent.com/62153141/156603158-0c152e58-c17a-46e5-9ca4-a96742e09be9.png">

[2022-03-03 17:51] theryankelly opened #60 "Graph broadband availability Race / Ethnicity"

[2022-03-03 19:13] trust-kimberly opened #62 "Landing Background Image"
The current background is a stock image placeholder, but will need our own higher res replacement.

<img width="1428" alt="Screen Shot 2022-03-03 at 2 04 02 PM" src="https://user-images.githubusercontent.com/62153141/156635943-8296cb74-2d27-4427-9894-0d95f83bd798.png">

[2022-03-03 20:10] theryankelly opened #63 "% Household With No Computer"

[2022-03-03 20:11] theryankelly commented on #35
Currently, these three Census are in one dashboard:
% Household With No Computer #63
Census % Households Cellular Plan Only #35
Census % Households Without Internet #34

We will display these in different sections of the report.

- [ ] Need direct link to each

![image](https://user-images.githubusercontent.com/2421382/156644377-971531b3-4b47-4b8c-965a-727ab9b88c91.png)

[2022-03-03 20:11] theryankelly commented on #35
Have moved to DataServices Account:
https://public.tableau.com/views/DigitalEquityCensusInternetQuestions/U_S_CensusQuestions?:language=en-US&:display_count=n&:origin=viz_share_link&:showVizHome=no#5

[2022-03-07 18:57] theryankelly commented on #40
Key chart to include in slides https://theatlas.com/charts/Sylg5ndo4

[2022-03-07 19:02] theryankelly opened #67 "Landing Page"
Design a landing page for the report.

Key Goal:
- Identify this as the Everett, Chelsea, Revere Report

Does not need:
- Be homepage for all MAPC Digital Equity work

[2022-03-07 19:03] theryankelly commented on #67
@ellynmorgan I am going to throw this an #62 your way. This is to layout in XD/Figma a design and path forward.

[2022-03-07 19:04] theryankelly opened #68 "Create direct links to Census Data for embed"
Add links to be used to Airtable

[2022-03-07 19:05] theryankelly opened #69 "Add Viz/Media Sources Attribution"
Add sources to viz and media into Airtable

[2022-03-07 19:05] theryankelly opened #70 "Accordion for appendix"

[2022-03-07 19:05] theryankelly opened #71 "Full Screen Images for Media"

[2022-03-07 19:05] theryankelly opened #72 "Accordion for timeline"

[2022-03-08 14:49] ellynmorgan commented on #67
Hi, is the landing page for this different than the Hero image page? If so, what is the content you want on the page? Thank you!

[2022-03-08 14:53] ellynmorgan commented on #62
![PXL_20210716_143231959](https://user-images.githubusercontent.com/98917566/157262229-1dcc700a-9878-4afe-bdb0-fe9463056fa8.jpg)
![PXL_20210716_183129589](https://user-images.githubusercontent.com/98917566/157262246-6b0ce0de-ad44-4ce1-b1a1-62ce5fe8b599.jpg)
![PXL_20210716_151406423 PANO](https://user-images.githubusercontent.com/98917566/157262253-269d2038-ea58-4e60-b0c3-4eebe83daa52.jpg)

 Shared

[2022-03-08 20:12] theryankelly commented on #49
In reviewing the map I think we can simplify further. I think we can remove the technology distinction from the map. I think this map can be just to toggle on and off these 4 selected providers. We can save the by-fiber info for a static map in the infrastructure section. I think we can move the menu out to an overlay. We will also need to link to the source and provide a description (why these 4

[2022-03-09 15:50] thetonyschloss commented on #35
Data viz is clear. If using the vizual and asking users to use dropdown, accompanying text should instruct users to do so (its not obvious). But it seems like they will be in different sections, and static, so once that is done it should be good to go .

[2022-03-09 15:57] theryankelly commented on #35
Each viz has been broken out into separate ones, each in a different section. Will be no question selectior on this viz. Links to each in Airtable.

[2022-03-09 22:08] theryankelly commented on #67
The landing page is dominated by the hero image, but will also need to have footer and clear visual clues that this is the Everett, Chelsea, Revere Report. I think the current version is close. Will need to write/pull content from report to help introduce the report.

 ![image](https://user-images.githubusercontent.com/2421382/157544077-0de6a2b3-a065-49cb-bbfc-585bd8986cd7.png)

[2022-03-10 15:39] theryankelly commented on #2
@trust-kimberly to reduce width I did not find a quick way to remove the axis title without moving labels. So I shortened it to help it fit when embeded.  ![image](https://user-images.githubusercontent.com/2421382/157696598-c4e853e3-8269-489e-aa0e-121760e7e56c.png)

@EllaBrady I was drafting in Digital Access Survey Draft _ 2, when you are ready with new version, let me know and we can move to DS

[2022-03-10 17:36] theryankelly opened #79 "Ryan - Short Names for Actions"
Create short names for actions to be used in accordian

[2022-03-10 17:36] theryankelly commented on #79
@trust-kimberly short names added to word doc

[2022-03-10 17:37] theryankelly opened #80 "Hide Field Labels from Y"
Remove field label in Tableau to shorten width

[2022-03-10 17:38] theryankelly commented on #80
Per #2 have shortened field lable name. Have not found path to remove and keep labels, besides using annotations in place of labels.

[2022-03-10 20:11] trust-kimberly commented on #79
Thanks, the short names work much better with the accordion format and in a header sized font

![Screen Shot 2022-03-10 at 3 10 36 PM](https://user-images.githubusercontent.com/62153141/157746549-5091f143-2b68-411b-bc51-8fb6c51f95eb.png)
![Screen Shot 2022-03-10 at 3 10 46 PM](https://user-images.githubusercontent.com/62153141/157746552-7ddc7b38-4fb3-4964-a07e-c818c60ed494.png)

[2022-03-10 20:48] EllaBrady commented on #35
grab municipal level data for all municipalities from household characteristics and internet questions (S2801)

[2022-03-10 21:23] theryankelly commented on #26
Window Chrome Version 99.0.4844.51 has extra scroll bar on tabs

![image](https://user-images.githubusercontent.com/2421382/157756943-8e630148-cec7-4811-97e5-ccfac266f019.png)

[2022-03-10 21:53] theryankelly commented on #49
Need to say "Fixed Wireless" over "Wireless" to be consistent with FCC terms

[2022-03-11 20:27] jeichen101 commented on #32
See comments I left in the word doc regarding images/visuals etc. I reference use of some of the slides.com material in a few sections - will leave it up to you all regarding how to best embed.

[2022-03-11 20:32] jeichen101 commented on #7
@theryankelly and @EllaBrady I spoke with Kimberly today about the layout of this section and how to best align the written points with the tableau visuals. Long story short, I think the way the tableau's are set up now as a single block that you have to scroll through isn't going to work, and rather, we should pull out individual tableau charts and embed in the different sections of the text so y

[2022-03-14 22:13] theryankelly commented on #16
Flagging here the issues discussed last check in:

- [ ] how might we allow the slides to be full-screened?

We have been able to do this on [Perfect Fit](https://perfectfitparking.mapc.org/). We may have exported the HTML, which is an option outside of iframe embed. The [timeline slide](https://slides.com/mapc/internet-slides#/9) is one example where fullscreen might be needed.

[2022-03-15 13:56] trust-kimberly commented on #48
Current map of residential fiber providers (only RCN and Starry):

![residential_fiber_blocks](https://user-images.githubusercontent.com/62153141/158393111-c2e06553-6e80-4a11-a737-7c7a5959fff0.png)

[2022-03-15 13:58] trust-kimberly commented on #49
Correction made and deployed:

<img width="575" alt="Screen Shot 2022-03-15 at 9 57 57 AM" src="https://user-images.githubusercontent.com/62153141/158393914-1166acbe-4e9c-4195-b1bb-3d7d4f76e76b.png">

[2022-03-15 14:18] trust-kimberly commented on #62
Updated to include the first image Ellyn shared, because I like the perspective and the framing. Having the context of the rooftop like in the other two feels more relevant to our sections on process and background, as opposed to as a hero for the landing.

<img width="1269" alt="Screen Shot 2022-03-15 at 10 12 47 AM" src="https://user-images.githubusercontent.com/62153141/158396890-9554a434-9fd6-

[2022-03-15 14:30] trust-kimberly commented on #24
For the FCC viz's and Exisiting Conditions - Infrastructure section:

For any QGIS-made maps, we should stick to the OSM basemap and layout template Lex used for consistency. Given that there isn't a 1 to 1 OSM basemap equivalent style available through Mapbox, I did my best to match the FCC embed's palette to that of our QGIS maps, as well as updating the typefaces to match the report.

<img widt

[2022-03-16 13:21] trust-kimberly opened #92 "Image source format"
Need to include sources and descriptions for each viz and image. This first version - close to the media, subtler in font color, and directly linking the data source - could work.

<img width="800" alt="Screen Shot 2022-03-15 at 4 48 28 PM" src="https://user-images.githubusercontent.com/62153141/158599350-e76a9093-674f-4eda-b2dd-27332f15b733.png">

[2022-03-16 17:05] trust-kimberly commented on #67
Sharing Ellyn's iteration of the landing here for review:

![Screen Shot 2022-03-16 at 11 55 35 AM](https://user-images.githubusercontent.com/62153141/158632609-3cc30dcc-c308-4260-87cb-0802375a4fce.png)

[2022-03-17 17:39] trust-kimberly commented on #41
I'm finding it really effective to include the airtable embed for quicker access to the glossary. It's interactive, saves the user a click, style-wise fits cleanly with ours, and allows for easier editing/updating of glossary terms.

<img width="979" alt="Screen Shot 2022-03-17 at 1 36 45 PM" src="https://user-images.githubusercontent.com/62153141/158861709-c81769f0-bc79-4508-a841-2d8c06c5893a.png

[2022-03-17 22:30] theryankelly commented on #18
@thetonyschloss next step that came out of today's meeting was for you to review the Actions in the [report doc](https://mapc365.sharepoint.com/:w:/s/DigitalAccess/ER54HsEljYRKjmrMtX4zXGQBucOgEFKSTzmu1qfFrfT7Qw?e=F7T0V9). Please review for language and phrasing.  Please make sure approporaite timeline and stakeholders are associated with an action. Please add other actions you feel might be missin

[2022-03-17 22:32] #79 closed

[2022-03-17 22:33] #19 closed

[2022-03-18 18:44] ellynmorgan commented on #25
Hello, I've updated these in Slides.com. Please let me know of any further updates needed. Thank you!

[2022-03-18 19:35] theryankelly commented on #8
Closing data trace lines located here: K:\DataServices\Projects\Current_Projects\EconDev\Digital_Divide\Data\Spatial\Block_Level_Fiber_Data_2022

[2022-03-18 19:35] #8 closed

[2022-03-18 20:09] theryankelly commented on #38
@mapc-lberman Thank you for putting these maps together. K:\DataServices\Projects\Current_Projects\EconDev\Digital_Divide\Data\Spatial\Block_Level_Fiber_Data_2022

The plan is to have one map of the available fiber in the report. This map will live in the [Executive Summary](https://mapc.github.io/digital-equity-report/report/#summary) and in [Existing Conditions: Infrastructure](https://mapc.gith

[2022-03-18 20:39] trust-kimberly commented on #38
I agree it would be more helpful to see the legend in percents. I'm not sure how these buckets were originally weighted but it feels more digestible to break down the range into quintiles. We lose a bit of specificity in having fewer, even groupings but I'm not sure that the current legend is getting that specificity across.

Whether we make this interactive or static, it might also be helpful to

[2022-03-21 14:24] mapc-lberman commented on #38
hi, currently I'm working on the ACS processing tasks, but I can switch back to the Broadband maps if that is needed.   Can you confirm that you want me to combine both the RCN and Comcast into a single access map?  and you want quintiles as percents?  (note I would just multiply the pct col by 100 in the latter case.) cc-ing jesse on slack... thanks.

[2022-03-21 16:04] theryankelly opened #102 "MLab by up and down by muni by provider 25/3 split"

[2022-03-21 16:10] theryankelly commented on #102
@trust-kimberly I have made a few adjustments to MLab viz and have a few notes.

- I think we can go with the top 4
- I made the provider selector dropdown
- I would rather do a direct label of colors, but need to be adjusted to fit
- I moved the technology type to the tooltip, don't need in axis
- Edited Axis labels
- [ ] Will let you adjust the sizing of labels as you have for others
- [ ] Will

[2022-03-21 16:15] theryankelly commented on #38
@mapc-lberman can confirm that will want you to create a combined map. Would like to hear from others about bucketing before proceeding.

[2022-03-21 16:26] mapc-lberman commented on #38
roger that

[2022-03-21 18:27] japartridge commented on #38
i agree with all points made. for the buckets, we could try quintiles and round to whole/even numbers. Lex and i can look at it together this week.

[2022-03-21 20:57] trust-kimberly commented on #26
There was an extra horizontal scroll bar on tab components and on the report page itself, but both are resolved. Screenshot taken of Chrome via HyperV:

![Screen Shot 2022-03-21 at 4 55 28 PM](https://user-images.githubusercontent.com/62153141/159362360-791ebf8d-367d-4468-9cd3-e81c82a27782.png)

[2022-03-21 21:22] trust-kimberly commented on #26
Also caught and removed an extra vertical scrollbar:
![Screen Shot 2022-03-21 at 4 59 27 PM](https://user-images.githubusercontent.com/62153141/159365889-30a56b35-f140-420e-8e0f-a2731b271be5.png)

[2022-03-21 21:22] trust-kimberly commented on #59
I adjusted the line-height and padding to help distinguish links without having to shorten "Community Needs Assessment." I think it's cleaner to keep the 1 to 1 consistency between quick links and report menu links/report sections.

![Screen Shot 2022-03-21 at 3 48 21 PM](https://user-images.githubusercontent.com/62153141/159352514-7937927a-03b5-4f5b-b8dd-6fc779d1fc1f.png)

[2022-03-21 21:28] trust-kimberly commented on #102
Made the edits, short of the percent of total added to the label. The "quick calculation" option for percents out of total weren't accurate based on counts, so I tried to make table edits to the calculation but wasn't successful. I couldn't seem to grab the sum of download tests by provider as a denominator. Can revisit another time but the tables are looking better.

![Screen Shot 2022-03-21 at 5

[2022-03-23 15:48] EllaBrady commented on #3
Workbook link for "I would like to learn more about": https://public.tableau.com/authoring/Iwouldliketolearnmoreaboutliteracy/Iwouldliketolearnmoreabout#1

[2022-03-23 16:15] theryankelly commented on #3
Thanks @EllaBrady I have transferred the "I would like to learn more about" workbook to the Data Services account and tweaked the colors/labels https://public.tableau.com/views/DigitalEquitySurveyLiteracyLearnAbout/Iwouldliketolearnmoreabout?:language=en-US&:display_count=n&:origin=viz_share_link&:showVizHome=no#2
![image](https://user-images.githubusercontent.com/2421382/159745822-111a053e-5928-4

[2022-03-23 18:14] EllaBrady commented on #2
@theryankelly link to workbook for "if not, why not?": https://public.tableau.com/authoring/Ifnotwhynot/Ifnotwhynot#1

[2022-03-23 20:19] thetonyschloss commented on #18
I reviewed language and added one more action to take, which should be reviewed by Ryan as well. The difference between an immediate action and intermediate action is not clear--is that in regards to doing the work, or in regards to the timing of the effect of that work.

We should update the Build Better Broadband Action to reflect that we received the grant, and how muni's should work with the p

[2022-03-24 18:10] theryankelly commented on #16
- [ ] Remove lower slides

[2022-03-24 18:16] theryankelly commented on #4
Split out dashboards (vizz) in word doc, then adjust site to match new flow.

[2022-03-24 18:22] theryankelly commented on #43
Place intro in Process and add link to jump to appendix

[2022-03-24 18:25] theryankelly commented on #102
Remove labels to match Up and Down

[2022-03-24 18:27] theryankelly commented on #63
Potential update of data to 2020 and with RPA aggregations

[2022-03-24 18:54] theryankelly opened #114 "Social Card"

[2022-03-24 18:54] theryankelly opened #115 "favicon"

[2022-03-24 20:02] theryankelly opened #116 "Jump Sections Bug"
Using the jump to the next section link navigation at the bottom of Service and Affordability. The user is not returned to the start of Infrastructure. This issue doesn't appear to show itself when navigating from Connection and Access to Service and Affordability.

[2022-03-24 20:09] theryankelly opened #117 "Analytics added to site"
GA code generated
GA code added

[2022-03-24 21:01] theryankelly opened #118 "Appendix Adjustments"
Current

[2022-03-25 15:04] ellynmorgan commented on #115
![digital access favicon-01](https://user-images.githubusercontent.com/98917566/160146566-a932bd5e-b95c-449e-a6a7-fdfdf27c94b3.png)
![digital access favicon-02](https://user-images.githubusercontent.com/98917566/160146568-e939b46b-1957-4751-bb90-29b9f28fc23d.png)

Please find two options attached. I prefer the blue on yellow. Please let me know if this not suitable or needs updates. Thank you!

[2022-03-25 15:58] theryankelly commented on #115
@ellynmorgan I like how the element related to the presentations. I am wondering how the transparent background might look. Reminded we of Hubspot and could look good.

![Screen Shot 2022-03-25 at 11 57 23 AM](https://user-images.githubusercontent.com/2421382/160156510-3fc912a3-71ae-4fd2-a190-8cb663515f9a.png)

[2022-03-25 16:06] ellynmorgan commented on #115
![digital access favicon-01](https://user-images.githubusercontent.com/98917566/160157985-fe6289f4-2ca4-4a0b-a58b-b1da3e1313d3.png)
![digital access favicon-02](https://user-images.githubusercontent.com/98917566/160157990-1b98df0a-0ef9-459e-b333-b165e6014f5f.png)
![digital access favicon-03](https://user-images.githubusercontent.com/98917566/160157993-15c31618-7996-4c8a-a7d4-ef4184ae22f9.png)
![di

[2022-03-25 16:48] EllaBrady commented on #39
@theryankelly EBB/ACP viz with ZCTA data: https://public.tableau.com/authoring/EBBACPViz/Sheet1/Dashboard%201#1

[2022-03-25 17:21] EllaBrady commented on #5
Draft of table link on sharepoint (not finished): https://mapc365.sharepoint.com/:x:/s/DigitalAccess/EXkoBLdacw1PlNfPkzfYepIBByFxlTO4MqRZ_GD2yqMngQ?e=AzhIh2

[2022-03-31 14:54] theryankelly commented on #39
Is enrollment data: individuals and eligible data: households?

[2022-03-31 15:10] theryankelly commented on #39
Updated version published to dataservices account: https://public.tableau.com/views/ACPEnrollment_EligiblePop/EBBACPEnrollment_Eligible?:language=en-US&:display_count=n&:origin=viz_share_link&:showVizHome=no

[2022-04-01 16:57] EllaBrady commented on #39
@theryankelly my apologies on missing this-- unfortunately, the ZCTA was individuals not households and enrollment was households. I have changed the ZCTA to reflect "families" instead. Here is the new link: https://public.tableau.com/authoring/EBBACPViz/Dashboard1#1

[2022-04-04 21:39] EllaBrady commented on #5
Link to Tableau with parameter: https://public.tableau.com/authoring/CommunitiesataGlance/Sheet1#1
@theryankelly not sure which type of viz we landed on?

[2022-04-05 13:08] theryankelly opened #125 "Request URL"

[2022-04-05 13:09] theryankelly opened #126 "Sub section menu for Needs Assessment like existing conditions"

[2022-04-05 13:09] theryankelly opened #127 "Match and check number/counts to Census Internet charts"
Text highlighted in yellow in word doc

[2022-04-05 13:09] theryankelly opened #128 "Microsoft Viz of Speed"
Bar chart of Microsoft speed test zip aggregated by muni for our 3 cities and state for comparison.

[2022-04-05 13:09] theryankelly opened #129 "Community needs bar chart comparison data"
Comparison numbers for Survey %s

[2022-04-05 15:03] theryankelly opened #130 "Adjust padding around visuals"

[2022-04-05 15:25] theryankelly opened #131 "Add sources to EBB/ACP and Census"

[2022-04-05 16:04] theryankelly commented on #125
We will have other digital equity reports so digital-equity.mapc.org doesn't seem right
ecr-digital-equity.mapc.org is a bit strange but short

[2022-04-05 18:00] elisemaeharmon commented on #114
For the social preview, we really just need an image and the title to display! I think only one is necessary. I think having text on it would be too much. I think:
- Image can be the background image from the site, I think
- Title can be: Digital Equity Plan for Chelsea, Everett, and Revere
- Description text: Digital equity for all is achievable. This report outlines how Chelsea, Everett, and Rev

[2022-04-05 21:01] theryankelly commented on #128
@EllaBrady data attached
[Microsoftdata_ACS_GatewayCities.csv](https://github.com/MAPC/digital-equity-report/files/8421820/Microsoftdata_ACS_GatewayCities.csv)

[2022-04-06 14:41] EllaBrady commented on #128
@theryankelly Which column should be displayed, the opposite of "households reaching broadband speeds", or "households with internet accessing poor speeds?"

[2022-04-06 15:48] trust-kimberly commented on #115
Go team blue!

![Screen Shot 2022-04-06 at 11 48 16 AM](https://user-images.githubusercontent.com/62153141/162015336-256f1a53-3cbf-4da0-bc90-3e34ed1bb237.png)

[2022-04-06 15:49] theryankelly commented on #128
Let's go with "households with internet accessing poor speeds?"

[2022-04-06 15:51] trust-kimberly commented on #125
A couple others to throw in the mix:
- I like ecr-digital-equity.mapc.org but with the communities at the end: digital-equity-ecr.mapc.org
- digitalequity.ecr.mapc.org

[2022-04-06 15:52] trust-kimberly commented on #118
Have restructured and updated the appendix, but waiting on final tableaus for thumbnails

[2022-04-08 13:43] EllaBrady commented on #128
https://public.tableau.com/authoring/MicrosoftDataPercentofhouseholdswithInternetaccessaccessingpoorspeeds/Dashboard1#1

[2022-04-08 18:01] theryankelly commented on #38
Closing the loop on this viz. We are going to go with a map that is 200 ft and buckets of 0, 1 to 38, 39 to 64, 65 to 90, 91 to 99, 100. Changed the title to **Proximity to Comcast and RCN Fiber** and added direct labeling of "%" to the legend. Also added a description to help explain.

**Description:**
@mapc-lberman I think we can drop the ~% from the description and just say:
_The percentage ran

[2022-04-08 19:40] mapc-lberman commented on #38
update of map with final percentage bins [0, 1 to 38, 39 to 64, 65 to 90, 91 to 99, 100] and text changes.

![Proximity_200ft_Fiber_map_2022-04-08](https://user-images.githubusercontent.com/91992267/162515341-0a789c67-0a86-4872-893c-dbb6baf540c5.jpg)

[2022-04-11 13:29] theryankelly commented on #5
**Few things look off in the data**

- Chelsea/Revere/Everett combination appears to have added % together to create in accurate numbers. I have hidden that aggregation for now.

- Let's filter the raw counts as they clash with the muni and region comparisons. Let's convert the total pop by race/ language, and senior pop counts into % of the population, or grab the % pop number. Also, some numbers

[2022-04-18 20:04] EllaBrady commented on #5
thank you for the feedback @theryankelly. I have just taken a look and it seems like the data is off because some of the parameters are mismatched, fixing now.

For the Chel/Ev/Rev combination, would this be best redone as avg percentages?

Also, I am not sure what is meant exactly by filtering the raw counts in this context

[2022-04-19 15:35] theryankelly opened #137 "Source Biden Broadband quote"

[2022-04-19 15:41] #137 closed

[2022-04-19 19:14] EllaBrady commented on #5
new link with accurate data, in %s: https://public.tableau.com/authoring/CommunitiesataGlance_16491319836230/Sheet1#1

[2022-04-25 18:01] theryankelly commented on #5
@trust-kimberly Current embed on Chrome/Windows for me
![image](https://user-images.githubusercontent.com/2421382/165147266-f6719e53-65f8-48bd-b902-770574f17d12.png)

[2022-04-25 18:17] trust-kimberly commented on #5
Looking into this, because I can see the viz no problem in Chrome on my end but am consistently seeing the error in Safari, and only with this tableau but not others.

<img width="1105" alt="Screen Shot 2022-04-25 at 2 03 34 PM" src="https://user-images.githubusercontent.com/62153141/165149602-fce6c1d6-3963-4b42-8945-087023c4de7e.png">

[2022-04-26 13:09] trust-kimberly commented on #5
@theryankelly could you check the viz on your end? I was able to get it running in safari on my mac and via citrix vm.

![Screen Shot 2022-04-26 at 9 06 29 AM](https://user-images.githubusercontent.com/62153141/165306832-59e323a8-d230-4737-bb85-f5762901af71.png)

[2022-04-28 14:28] theryankelly opened #140 "Read the "Plan" rather than "Report""